@model WorkoutCoachV2.Model.Models.Session
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = L["Se_Details_Title"];
}

<h1>@L["Se_Details_H1"]</h1>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@L["Se_Field_Date"]</dt>
        <dd class="col-sm-10">@Model.Date.ToShortDateString()</dd>

        <dt class="col-sm-2">@L["Se_Field_Description"]</dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>

@if (Model.Sets != null && Model.Sets.Any())
{
    <h4>@L["Se_Details_Sets"]</h4>
    <table class="table">
        <thead>
            <tr>
                <th>@L["Se_Details_SetNumber"]</th>
                <th>@L["Se_Details_Exercise"]</th>
                <th>@L["Se_Details_Reps"]</th>
                <th>@L["Se_Details_WeightKg"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var set in Model.Sets.OrderBy(s => s.SetNumber))
            {
                <tr>
                    <td>@set.SetNumber</td>
                    <td>@set.Exercise?.Name</td>
                    <td>@set.Reps</td>
                    <td>@set.Weight</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>@L["Se_Details_NoSets"]</em></p>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@L["Common_Edit"]</a> |
    <a asp-action="Index">@L["Common_BackToList"]</a>
</div>
