@model WorkoutCoachV2.Model.Models.Exercise
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> L

@{
    // Delete view: bevestigingspagina om een oefening te verwijderen (soft delete via controller), met vertalingen via SharedResource.
    ViewData["Title"] = L["Ex_Delete_Title"];
}

<h1>@L["Ex_Delete_H1"]</h1>
<h3>@L["Ex_Delete_Confirm"]</h3>
<hr />

<div>
    <dl class="row">
        // Overzicht van de oefening zodat duidelijk is wat er verwijderd wordt.
        <dt class="col-sm-2">@L["Ex_Field_Name"]</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-2">@L["Ex_Field_Category"]</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Category)</dd>

        <dt class="col-sm-2">@L["Ex_Field_Notes"]</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Notes)</dd>

        <dt class="col-sm-2">@L["Ex_Field_CreatedAt"]</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CreatedAt)</dd>
    </dl>

    <form asp-action="Delete">
        // POST naar ExercisesController.DeleteConfirmed (via ActionName "Delete") om de oefening effectief te verwijderen.
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@L["Common_Delete"]" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary ms-2">@L["Common_BackToList"]</a>
    </form>
</div>
