@model WorkoutCoachV2.Model.Models.Workout
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> L

@{
    ViewData["Title"] = L["Wk_Delete_Title"];
}

<h1>@L["Wk_Delete_H1"]</h1>

<h3>@L["Wk_Delete_Confirm"]</h3>

<div>
    <h4>@L["Workouts"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@L["Wk_Field_Title"]</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>

        <dt class="col-sm-2">@L["Wk_Field_ScheduledOn"]</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.ScheduledOn)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@L["Common_Delete"]" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary ms-2">@L["Common_Cancel"]</a>
    </form>
</div>
