@model WorkoutCoachV2.Model.Models.Workout
@using WorkoutCoachV2.Model.Models
@using System.Linq

@{
    ViewData["Title"] = "Workout details";
    var workoutExercises = ViewBag.WorkoutExercises as IEnumerable<WorkoutExercise>
                           ?? Enumerable.Empty<WorkoutExercise>();
}

<h1>Workout details</h1>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.ScheduledOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.ScheduledOn)
        </dd>
    </dl>
</div>

<h4>Exercises in this workout</h4>
<hr />

@if (!workoutExercises.Any())
{
    <p>No exercises linked yet.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Reps</th>
                <th>Weight (kg)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in workoutExercises)
            {
                <tr>
                    <td>@x.Exercise?.Name</td>
                    <td>@x.Reps</td>
                    <td>@x.WeightKg</td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="mt-3">
    <a asp-action="Exercises" asp-route-id="@Model.Id" class="btn btn-secondary">Manage exercises</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit workout</a>
    <a asp-action="Index" class="btn btn-link">Back to List</a>
</div>
